.frame {
    .navigation {
        height: 100%;
        -webkit-margin-start: 0;
        position: fixed;
        -webkit-margin-end: 15px;
        width: 155px;
        z-index: 3;
    }

    .view, .content {
        width: 738px;
        overflow-x: hidden;
    }

    .content {
        padding-top: 50px;

        p {
            text-align: justify;
        }
    }

    .with_controls .content {
        padding-top: 104px;
    }

    .view {
        -webkit-margin-start: 155px;

        a {
            font: inherit;
        }
    }

    .mainview > * {
        -webkit-margin-start: -20px;
        -webkit-transition: margin 100ms, opacity 100ms;
        opacity: 0;
        z-index: 0;
        position: absolute;
        top: 0;
        display: block;
    }

    .mainview > .selected {
        -webkit-margin-start: 0;
        -webkit-transition: margin 200ms, opacity 200ms;
        -webkit-transition-delay: 100ms;
        z-index: 1;
        opacity: 1;
    }
}